*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;

}
html, body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background-color: blue;
    display: flex;
    

}
.left{
    width: 40%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    
    
}
.lnav{  
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
    
}
.lnavr a{
    margin-left: 20px;
    margin-right: 30px;
    text-decoration: none;
    color: black;
}
.lnavr i{
    color: rgb(230, 59, 144);
    font-size: 17px;
}
#textcenter{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
#textcenter h1{
    font-size: 90px;
    font-weight: 900;
}
#textcenter p{
    opacity: .6;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#textcenter a{
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #000;
}


.right{
    width: 60%;
    height: 100%;

}
.rtop{
    width: 100%;
    height: 50%;
    background-color: blueviolet;
    display: flex;
}
.rtopleft{
    width: 50%;
    height: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/18/17/23/strawberries-1835934_1280.jpg);
    background-size: cover;
    background-position: center;
}
.rtopright{
    width: 50%;
    height: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2018/03/12/22/14/strawberries-3221094_1280.jpg);
    background-size: cover;
    background-position: center;
}
.rbottom{
    width: 100%;
    height: 50%;
    background-image: url(https://cdn.pixabay.com/photo/2021/11/30/08/24/strawberries-6834750_1280.jpg);
    background-size: cover;
    background-position: center;
}
